<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
  </head>
  <body>
    <% for(let i = 0;i<index.length;i++){ %>
      <div class="videoInfo">
        <img src=<%= '/static/poster/' + index[i].poster %> alt=<%= index[i].name %> width="200" height="200"></img>
        <a href=<%= '/player?id=' + index[i].id%>><%= index[i].name %></a>
      </div>
    <% } %>
  </body>
</html>
