<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>正在播放:<%= video.name %></title>
  </head>
  <body>
    当前视频：<%= video.name %>
    <video src=<%= '\"' + video.src + '\"'%> autoplay></video>
  </body>
</html>
