<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/uikit/uikit.gradient.css" />
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/uikit/uikit.min.js"></script>
    <title>搜索</title>
  </head>
  <body>
    <div class="menu">
      <ul class="uk-breadcrumb">
        <li><a href="/index">首页</a></li>
      </ul>
    </div>
    <div style="margin:0 auto">
      <form class="uk-form" action="/search" method="get">
        <input type="text" name="word" value="关键字">
        <input type="submit" class="uk-button">
      </form>
    </div>

  </body>
</html>
